doctype html
html 
    head 
        title #{title}
    body 
        a(href="new")
            button(type="button") New Message
        h1 Messages
        each message, index in messages
            h3= messages[index].user
            ul
                li= messages[index].user
                li= messages[index].text
                li= messages[index].added