doctype html
html 
    head 
        title #{title}
    body 
        h1 Enter your message
        form(action="/new", method="post")
            input(
                placeholder="Name"
                name="name"
                type="input"
            )
            input(
                placeholder="Enter Message"
                name='messageText'
                type="input"
            )
            button Submit